.table{
    box-shadow: 0 3px 7px lightgrey;
}

.table th{
    border:1px solid white;
}

.table td{
    border: 1px solid lightgrey;
}

.table-head{
    background-color: blue;
    color: white;
    text-align: center;
    box-shadow: 0 3px 5px rgb(23, 23, 24);
}

.table-icons{
    font-size: 20px;
}

.table tr:hover{
    background-color: rgb(217, 233, 217);
    color: black;
}